
body{
    background: linear-gradient(45deg,rgba(255, 255, 0, 0.5),rgba(0, 0, 255, 0.5)) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
    height: auto;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

video{
    width: 720px;
    height: auto;
    box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.3);
    animation-name: SlideFromRight;
    animation-duration: 2s;
}

.blue_div{
    margin: 2rem;
    padding: 1rem;
    background-color: aliceblue;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.links-wrapper{
    display: flex;
    justify-content: center;
}

.div_hyper_content{
    display: inline-block;
    background-color: whitesmoke;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    animation-name: SlideFromRight;
    animation-duration: 2s;
}

.div_e{
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background-color: aliceblue;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.div_srch_content{
    margin: 20px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.p_srch_content{
    padding: 1rem;
}

.div_img{
    margin: 20px;
    display: inline-block;
}

.button{
    margin: 1rem;
    width: auto;
    height: 30px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: darkblue;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:active{
    transform: scale(1.05);
    background-color: blue;
}
.button:hover{
    transform: scale(1.1);
    background-color: blue;
}

.go_out{
    animation:SlideToOut 3s forwards;
}

.go_in{
    animation:SlideFromRight 3s forwards;
}

@keyframes SlideFromRight{
    from{transform: translatex(-120%);}
}

@keyframes SlideToOut{
    to{transform: translatex(-120%);}
}